*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container>* {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    width: 800px;
    height: 410px;
    gap: 2px;
background-color: white;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    
}
.box1{
    background-color: palevioletred;
    grid-column: 1/2;
}
.box2{
    background-color:violet;
    grid-column: 2/4;
    grid-row: 1/3;
}
.box3{
    background-color: brown;
    font-size: xx-large;
    grid-column: 4/6;
    grid-row: 1/5;
}
.box4{
    background-color: yellow;
}
.box5{
    background-color: green;
}
.box6{
    background-color: lightseagreen;
}
.box7{
    background-color: lightgreen;
}
.box8{
    background-color:green;
}
.box9{
    background-color: turquoise;
}
.box10{
    background-color: chocolate;
}
.box11{
    background-color: navy;
    grid-column: 1/4;
}
.box12{
    background-color: red;
}